.row-centered {
    text-align:center;
}

.col-centered {
     display:inline-block; float:none; margin-right:-4px;
    }

label{
    float: left;
}

h1{
    font-family: 'Raleway', sans-serif;
}



.jumbotron{
    background-image: url("../images/trainschedule2.jpeg");
    color: white
}

body{
    margin-bottom: 20px;
}
